black==19.10b0
click==8.0.2
isort[requirements] < 5
parameterized
pytest
pytest-runner
ruamel.yaml
sphinx
sphinxcontrib-bibtex
wandb
wget
wrapt
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
